
@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');
body {font-family: Arial, Helvetica, sans-serif;
    background-image: url("");
}
* {box-sizing: border-box}
main{
    display:flex;
}
h1{
    color: #008000;
}
.btn{
    border:none;
    border-radius:5px;
    padding:5px 30px;
    background-color:#0000ff;
    font-family:'Mansalva', cursive;
    font-size:30px;
    font-weight:20px;
    box-shadow:10px 10px 10px #4d4d4d;
    position:relative;
    outline:none;
    text-transform:uppercase;
    margin-bottom: 10px;
    margin-top:10px;
}
.btn:hover{
    cursor:pointer;
}
.btn:active{
    top:3px;
    box-shadow:8px 8px 10px #ccc;
}
.container{
    border-left:2px solid #ff0040;
    box-shadow: 10px 10px 10px #4d4d4d;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid #000;
    background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
.container {
    padding: 16px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
@media screen and (max-width: 4000px) {
    .btn, .btn {
        width: 100%;
    }
    main{
        display:block;
    }
    #form{
        margin-top:10px;
    }
}
